body{
	background-color: darkolivegreen;
}
.divdizajn{
	border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
	border: 25px solid black;
	height: 40%;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
h2{
	color: ghostwhite;
}
.navi{
	color: ghostwhite; 
	
	font-family:"Brush Script MT Lucida Handwriting",cursive;

}
.h1portfolio{
	color: ghostwhite; 
	font-family:"Brush Script MT Lucida Handwriting",cursive;
    text-align: center;
	
}

.h2portfolio{
	color: black; 
	font-family:"Brush Script MT Lucida Handwriting",cursive;
    text-align: right;
	
}


}
.h1cim{
	text-align: center;
	color: #C0C0C0;
	font-family: "Brush Script MT Lucida Handwriting",cursive;

}
.h2rolam{
	color: ghostwhite; 
	
	margin-left: 10%; 
	margin-right: 10%; 
	
	font-family:"Brush Script MT Lucida Handwriting",cursive;
}
.h2navi{
	border: 4px solid ghostwhite;
	border-radius: 10px;
	width: 40%;
	height: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
p{
	color: ghostwhite; 
	text-align: center;
	font-family: "Brush Script MT Lucida Handwriting",cursive;
}
.divterv{
	
	margin-left:auto;
	margin-right:auto;
	display: block;

}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}